* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}
body {
  background-color: #fff;
  color: #111;
  line-height: 1.6;
  overflow-x: hidden;
}
h1, h6 {
  font-weight: 1000;
  text-transform: uppercase;
}
p {
  font-size: 15px;
  color: #333;
  margin: 10px 0;
}
button {
  background-color: #FFD400;
  border: none;
  padding: 10px 25px;
  color: #000;
  font-weight: 700;
  text-transform: uppercase;
  cursor: pointer;
  transition: 0.3s;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 80px;
  background-color: #F4C400;
  box-shadow: 0 2px 8px rgba(0,0,0,0.05);
  top: 0;
  z-index: 100;
}
.header img {
  width: 70px;
}
.header .links {
  display: flex;
  gap: 35px;
  list-style: none;
}
.header .links a {
  text-decoration: none;
  color: #000;
  font-weight: 600;
  font-size: 15px;
  transition: 0.3s;
}
.contenedor1 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 80px;
  padding: 100px;
}
.contenedor1 img {
  width: 400px;
}
.texto1 {
  max-width: 900px;
}
.texto1 h1 {
  font-size: 2.5em;
  margin-bottom: 25px;
}
.contenedor2 {
  background-color: #dbd7d7;
  display: flex;
  justify-content: center;
  padding: 100px 0;
  flex-direction: row;
  display: flex;
}
.contenedor2 .tarjeta {
  background-color: #fff;
  width: 70%;
  max-width: 900px;
  padding: 60px;
  text-align: center;
  box-shadow: 0 8px 20px rgba(0,0,0,0.15);
}
.contenedor2 h1 {
  color: #FFD400;
  font-size: 2em;
  margin-bottom: 15px;
}
.contenedor2 img {
  width: 100px;
  margin: 10px;
}
.contenedor3 {
  background-color: #FFD400;
  text-align: center;
  padding: 100px 40px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.textoimagen{
  align-items: flex-start;
}
.contenedor3 h1 {
  font-size: 2em;
}
.contenedor3 img {
  width: 450px;
  border-radius: 8px;
  margin-top: 25px;
}
.contenedor3 button{
  background-color: #000000;
  color: #fff;
}
.contenedor4 {
  background-color: #ffffff;
  padding: 80px 0;
  text-align: center;
  flex-direction: row;
  display: flex;
}
.contenedor4 button{
  background-color: #000000;
  color: #fff;
  
}
.contenedor4 h1{
  color: #FFD400;
  padding-right: 310px;
}
.contenedor4 p{
  padding-right: 319px;
}
.contenedorflotante {
  display: inline-block;
  background-color: #999292;
  padding: 40px 60px;
  box-shadow: 0 8px 18px rgba(0,0,0,0.15);
  align-items: flex-start;
   flex-direction: row;
  display: flex;
}
.contenedorflotante img:first-child {
  width: 400px;
  margin-bottom: 20px;
}
.contenedorflotante img:last-child {
  width: 100px;
  margin-top: 20px;
}
.contenedor5 {
  background-color: #000000;
  color: #FFD400;
  text-align: center;
  padding: 100px 20px;
}
.contenedor5 p{
  color: #fff;
}
.contenedor5 img {
  width: 400px;
  margin: 30px 0;
}
.contenedor5 button{
  align-items: center;
}
.contenedor6 {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 40px;
  padding: 100px 60px;
  background-color: #fff;
  display: flex;
  flex-direction: row;
}
.contenedor6 img {
  width: 400px;
}
.contenedor7 {
  background-color: #f2f2f2;
  text-align: center;
  padding: 100px 20px;
}
.contenedor8 {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  padding: 100px 60px;
  background-color: #ffffff;
  flex-direction: row;
  align-items: flex-start;
}
.contenedor8 h1{
  color: #FFD400;
}
.contenedor8 button{
  color: #ffffff ;
  background-color: #000;
}
.formulario {
  width: 1200%;
  display: flex;
  flex-direction: column;
  background-color: #000000;
  color: #ffffff;
  border: 30px solid #000000;
}
.formulario p{
  color:#ffffff;
}
.formulario label {
  font-weight: 600;
  margin-top: 10px;
}

.formulario input, .formulario textarea {
  width: 100%;
  background-color: #000;
  padding: 10px;
  border: 2px solid #fff9f9;
  border-radius: 4px;
  font-size: 1rem;
}
.contenedor9 {
  background-color: #FFD400;
  text-align: center;
  padding: 100px 20px;
}
.contenedor9 button{
  color: #fff;
  background-color: #000;
}
.contenedor9 img {
  width: 900px;
  margin: 30px 0;
}
footer {
  background-color: #000;
  color: #fff;
  padding: 50px 20px;
}
footer img {
  width: 90px;
  margin-bottom: 15px;
}
footer section {
  list-style: none;
  margin: 15px 0;
}
footer li {
  margin: 6px 0;
  font-size: 14px;
  cursor: pointer;
 color: #FFD400;
}
footer hr {
  border: 0.5px solid #ffffff;
  margin: 25px 0;
}
footer .linea {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
}
footer .linea img {
  width: 18px;
  cursor: pointer;
  transition: 0.3s;  
}